body {
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    width: 330px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

img {
    width: 250px;
    border-radius: 15px;
    margin: 15px 0;
}

button {
    background: #ff4b7d;
    border: none;
    color: white;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background: #ff1f5a;
}
.music-inside {
    background: #ff4b7d;
    border: none;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}


.photos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.photos img {
    width: 120px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
}

/* NO button movement */
#noBtn {
    position: relative;
    transition: transform 0.2s;
}





